body{
    background-color:rgb(185, 20, 80) ;
}

.white{
    color:white;
}

.pink{
    color:rgb(185, 20, 80)
}

.border-btn1{
    border:2px solid orange;
}

.ticket{
    width:70rem;
    margin:10px auto;
    background-color: white;
}

.border{
    border:1px solid black;
}